<!DOCTYPE html>
<html lang = "eng">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
        <title>CRM application</title>
        <style>
            .body{
                box-sizing: border-box;
            }
            .lead{
                padding: 10px 8px;
                margin: 6px 8px;
                background-color:bisque;
                width: 100%;
            }
        </style>
    </head>
    <body>
     {% block content %}
     {% endblock content %}
    </body>
</html>