{% extends 'base.html' %}

{% block content %}
<br />
<div class="container flex justify-center mx-auto">
    <h1>Categories</h1>
</div>
<br />
<div class="container flex justify-center mx-auto">
    <h2>The categories of leads are listed below: </h2>
</div>
<br />
<div class="container flex justify-center mx-auto">
    <div class="flex flex-col">
        <div class="w-full">
            <div class="border-b border-gray-200 shadow">
                <table>
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-2 text-xs text-gray-500">
                                Name
                            </th>
                            <th class="px-6 py-2 text-xs text-gray-500">
                                Lead Count
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr>
                            <td class = "px-6 py-4 text-sm text-gray-500">Uncategorized leads</td>
                            <td class="px-6 py-4 text-sm text-gray-500">{{unassigned_lead_count}}</td>
                        <tr>
                        {% for category in category_list %}
                        <tr class="whitespace-nowrap">
                           <td> <a class="px-6 py-4 text-sm text-gray-500" href = {% url 'leads:category-detail' category.pk %}> {{category.name}} </a></td>
                            <td class="px-6 py-4">
                                <div class="text-sm text-gray-900">TODO count</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock content %}


