{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}
<div class = "max-w-lg mx-auto">

<div style = "display: flex;justify-content:center;" class = "mt-2 mb-5 mx-auto">
<h1 class = "text-black-600">Enter your new password here</h1>
</div>

<form method="POST">
    {% csrf_token %}
    
    {{ form|crispy }}

    <button class = "w-full bg-yellow-500 text-white hover:bg-blue-600 px-3 py-2 rounded-md" type = "submit">Confirm new Password</button>
</form>


</div>
{% endblock %}